body {
	background-color: cadetblue;
}

.container {
	display: grid;
	flex-wrap: wrap;
	width: 480px;
	height: 480px;
	margin: 40px auto;
	background-color: chocolate;
	grid-template-columns: repeat(30, 1fr);
	grid-template-rows: repeat(30, 1fr);
	}

.container div {
	flex: 1 0 30px;
	background-color: white;
	border 2px solid black;
}

.container div:hover {
	
}